__pycache__/
bin/
include/
lib/
Lib/
share/
Scripts/
.venv/
.vscode/
figs/
out_patterns/
lib64
* copy.py
pyvenv.cfg
run_*
hash_*
nand_*.csv
reject_*.csv
stage_stats.csv
obligation*.csv
*.log
output.txt
perf*.csv
block*.csv
commands.yaml
states.yaml
.DS_STORE